DzienniczekDietetycznyEF/service references/ServiceReference1/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" minOccurs="0" name="login" nillable="true" type="q1:WcfLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFavorite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" minOccurs="0" name="login" nillable="true" type="q2:WcfLogin" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" minOccurs="0" name="favorite" nillable="true" type="q3:WcfFavorite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFavoriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFavoriteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConsumed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" minOccurs="0" name="login" nillable="true" type="q4:WcfLogin" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" minOccurs="0" name="consumed" nillable="true" type="q5:WcfConsumed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConsumedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConsumedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFavorites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" minOccurs="0" name="login" nillable="true" type="q6:WcfLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFavoritesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" minOccurs="0" name="DownloadFavoritesResult" nillable="true" type="q7:ArrayOfWcfFavorite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadConsumed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" minOccurs="0" name="login" nillable="true" type="q8:WcfLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadConsumedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" minOccurs="0" name="DownloadConsumedResult" nillable="true" type="q9:ArrayOfWcfConsumed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadAllMeals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phrase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadAllMealsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" minOccurs="0" name="DownloadAllMealsResult" nillable="true" type="q10:ArrayOfWcfMeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>