DzienniczekDietetycznyEF/service references/ServiceReference1/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DietCalendarServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDietCalendarService2_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_AddFavorite_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFavorite" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_AddFavorite_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFavoriteResponse" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_AddConsumed_InputMessage">
    <wsdl:part name="parameters" element="tns:AddConsumed" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_AddConsumed_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddConsumedResponse" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_DownloadFavorites_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFavorites" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_DownloadFavorites_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFavoritesResponse" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_DownloadConsumed_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadConsumed" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_DownloadConsumed_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadConsumedResponse" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_DownloadAllMeals_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadAllMeals" />
  </wsdl:message>
  <wsdl:message name="IDietCalendarService2_DownloadAllMeals_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadAllMealsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDietCalendarService2">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDietCalendarService2/Login" message="tns:IDietCalendarService2_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDietCalendarService2/LoginResponse" message="tns:IDietCalendarService2_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFavorite">
      <wsdl:input wsaw:Action="http://tempuri.org/IDietCalendarService2/AddFavorite" message="tns:IDietCalendarService2_AddFavorite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDietCalendarService2/AddFavoriteResponse" message="tns:IDietCalendarService2_AddFavorite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddConsumed">
      <wsdl:input wsaw:Action="http://tempuri.org/IDietCalendarService2/AddConsumed" message="tns:IDietCalendarService2_AddConsumed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDietCalendarService2/AddConsumedResponse" message="tns:IDietCalendarService2_AddConsumed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFavorites">
      <wsdl:input wsaw:Action="http://tempuri.org/IDietCalendarService2/DownloadFavorites" message="tns:IDietCalendarService2_DownloadFavorites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDietCalendarService2/DownloadFavoritesResponse" message="tns:IDietCalendarService2_DownloadFavorites_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadConsumed">
      <wsdl:input wsaw:Action="http://tempuri.org/IDietCalendarService2/DownloadConsumed" message="tns:IDietCalendarService2_DownloadConsumed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDietCalendarService2/DownloadConsumedResponse" message="tns:IDietCalendarService2_DownloadConsumed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAllMeals">
      <wsdl:input wsaw:Action="http://tempuri.org/IDietCalendarService2/DownloadAllMeals" message="tns:IDietCalendarService2_DownloadAllMeals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDietCalendarService2/DownloadAllMealsResponse" message="tns:IDietCalendarService2_DownloadAllMeals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDietCalendarService2" type="tns:IDietCalendarService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IDietCalendarService2/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFavorite">
      <soap:operation soapAction="http://tempuri.org/IDietCalendarService2/AddFavorite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddConsumed">
      <soap:operation soapAction="http://tempuri.org/IDietCalendarService2/AddConsumed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFavorites">
      <soap:operation soapAction="http://tempuri.org/IDietCalendarService2/DownloadFavorites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadConsumed">
      <soap:operation soapAction="http://tempuri.org/IDietCalendarService2/DownloadConsumed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAllMeals">
      <soap:operation soapAction="http://tempuri.org/IDietCalendarService2/DownloadAllMeals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IDietCalendarService2" binding="tns:BasicHttpBinding_IDietCalendarService2">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DietCalendarService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>